.banner-image {
    padding-top:30px;
    width: 100%;
    display: block;
    opacity: 0.8;
}

/*Get rid padding that comes w/ container-fluid*/
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.testing {
    text-align: center;
    /*    font-family: 'Suez One', serif;*/
    /*color: #4a3728;*/
    color: #565656;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}