<div class="container-fluid text-center">
    <h2 style="color: #565656;">Policies.</h2>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        COST OF PRODUCTS
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <p class="shorten">All products are under $20 in order to allow customers to buy good quality products at a fair price.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        SHIPPING POLICY AND RATES
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <p class="shorten">
                        Shipments are guaranteed for Ground, 3-Day, 2-Day, Overnight, and Saturday.
                        If our delivery partner misses the delivery then we will refund the shipping on your purchase.
                        Please know that if the recipient is not home and was unable to
                        deliver the package, this does not qualify as missing the delivery.
                    </p>
                    <br />
                    <p class="shorten">
                        Circumstances beyond our control, such as severe weather,
                        natural disasters and so forth void the delivery guarantee.
                    </p>
                    <br />
                    <p class="shorten">
                    We run over 99% on time so trouble with shipping is a very infrequent
                    event. Ground shipping is free with all orders.
                    3-day shipping is $10, 2-day shipping is $15, and overnight shipping is $20.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        TAX POLICY
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <p class="shorten">All baked goods are taxed accordingly to customer's state in order to account for ingredients, pricing, and wastage.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        RETURN OF MERCHANDISE POLICY
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <p class="shorten">
                        If a shelf-stable item purchase is returned to us new and in
                        original packaging within 15 days of delivery,
                        we will offer a store credit for your order total
                        and less our costs for shipping and handling each way.
                        However, please be mindful of the following details regarding returns:
                    </p>


                    <br>
                    <b> Return Policy for Perishable Items </b>
                    <br>
                    <p class="shorten">
                        If a perishable item is returned to us marked as “undeliverable” we cannot offer a store credit.
                        Unfortunately, unlike items that have a longer shelf life, items that are perishable are unable to
                        be resold after they are sent back to us. When this situation occurs, we do offer customers a
                        20% discount on a replacement order.
                    </p>


                    <br>
                    <b> Return Policy for Damaged Products </b>
                    <br>
                    <p class="shorten">
                        If a product arrives damaged or with items missing, please notify us within 15 days.
                        We would be happy to send you a replacement as soon as possible.
                        Please keep in mind that missing items may have been substituted.
                    </p>

                    <br>
                    <p class="shorten">
                        To return an item or order, please contact a member of our 
                        Customer Service Team at 888-444-2222.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>