
    <h2> Our Story. </h2>

    <h4> WHO WE ARE </h4>
    We're a bread company that provides homemade fresh bread at your doorstep. When our founder couldn't find a company that could deliver fresh bread, she realized she had to create it.

    <h4> WHAT WE BELIEVE </h4>
    We know that what we eat matters. Our founder struggled to find bread that did not have unnecessary additives. At Lots of Bread we pride ourselves in offering more nutrients and fewer additives than commercially manufactured bread.
