<h2> FREQUENTLY ASKED QUESTIONS </h2>

        <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        How do I sign into my account when I forgot my user name and password?
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
          You'll want to create a new password to sign into your account. Follow these steps:
    <ol>
    <li>Hover over "Sign In" at the top of the page and click "Sign In."</li>
    <li>Click the "Forgot your Password?" link.</li>
    <li>Enter your email address. Click "Submit."</li>
    <li>You will receive an email with temporary password.</li>
    <li>Return to the sign in page.</li>
    <li>Enter your email address and the temporary password into the appropriate fields.</li>
    <li>Click Sign In and reset your password from Your Account page.</li>
    </ol>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        How to Place an Order
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
      <ol>
       <li>Shop Lots of Bread to see our full assortment and find the perfect gifts.</li>
       <li>Browse our digital catalogs and click on a gift that interests you. The gift webpage will then load and you will be able to add that gift to your cart.</li>
     </ol>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        What is your replacement/refund policy?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
           You and those who receive your gifts must be delighted, or we'll make it right with either an appropriate replacement or refund. Please contact us at: 1-800-444-8888.
          </div>
        </div>
      </div>

       <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Are your bread vegan?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
           Yes, all our baked goods are vegan and all made with clean ingredients.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Why are your breads so cheap?
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
           At Lots of Bread we attempt to make our homemade breads accessible to all in order to share the love.
          </div>
        </div>
      </div>

     <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Can I ship to a hospital?
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
           If a gift is being shipped to a hospital for a patient, it is delivered to a receiving area. From there, the hospital staff brings the package to a patient’s room. This process could delay the package from being delivered to a recipient for several hours and, depending on the time of day that it is initially delivered, the package might not get to the recipient until the next day. This process is to ensure the safety and privacy of the patients in the hospital. Please note: If you select your gift to be delivered on the weekend, its delivery can be delayed by this process.
          </div>
        </div>
      </div>

    <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Do recipients have to be present to receive their packages?
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body">
           It is up to the discretion of the individual FedEx delivery driver. If the package can be safely left then they are instructed to do so, that way the recipient will receive their gift on the day it was intended. If they cannot leave the package in a secure location (door man building) the driver will have to come back later, and very often it is on the next day.
          </div>
        </div>
      </div>

    <div class="card">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        How do you pack your baked goods?
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="card-body">
           We use state-of-the-art instant foam packaging. Your gift will NEVER arrive with annoying popcorn and will be out of the box in seconds. The foam is perfectly formed to the contents of your gift and will require zero cleanup or hassle. Look for our competitors to use popcorn, paper, bubble wrap and other inferior packaging materials that while they protect the gift in transit, severely hinder the presentation and diminish the enjoyment of receiving the gift.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        Can I send a package internationally?
            </button>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
          <div class="card-body">
          Yes! When inserting shipping information please choose the country you would like to ship to.
          </div>
        </div>
      </div>

    <div class="card">
        <div class="card-header" id="headingTen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
        What if we get an incorrect or incomplete address?
            </button>
          </h5>
        </div>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
          <div class="card-body">
          If we ship a gift basket to an incorrect address then it will be returned to us. Unfortunately, FedEx charges us a flat $15 fee to return the package, which we must in turn charge you. Once a package with an incorrect or incomplete address has left the building there is little we can do. On occasion we can reroute a package to the proper address for a fee of $15 but this is not always successful. Either way the package will be returned to us and must be sent back out for delivery. FedEx does not always call us to tell us that there is a problem delivering the package and we often do not find out there is a problem until the package is returned. In these rare instances, we ask for your patience and promise in return to do everything in our power to make sure your gift basket arrives in perfect condition and as soon as humanly possible.
          </div>
        </div>
      </div>

    </div>