<div class="container-fluid">
    <h2 class="home-heading">
        <strong>We sell lots of bread, so you can eat lots of bread.</strong>
    </h2>

    <p style="text-align:center; font-size:16px; font-weight:300;">Shop An Assortment Of Bread Kits And Bakeware. Order Online Today!</p>

    <section id="home-icons" class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-4">
                <img src="~/images/breadIcon2.png" style="width:250px" />
                <h3>Premium Bread Selection</h3>
                <p>Each bread kit contains only high quality ingredients.</p>
            </div>
            <div class="col-lg-4">
                <img src="~/images/breadIcon1.png" style="width:250px" />
                <h3>Premium Bakeware</h3>
                <p>Our bakeware are designed to last a lifetime.</p>
            </div>
            <div class="col-lg-4">
                <img src="~/images/breadIcon3.png" style="width:250px" />
                <h3>Freshly Baked</h3>
                <p>Bake your own freshly made bread in the comfort of your home. </p>
            </div>
        </div>
    </section>
</div>
