<div class="container-fluid">
    <h1 class="home-heading">
        <strong>We sell lots of bread, so you can eat lots of bread</strong>
    </h1>

    <p>Shop An Assortment Of Bread Kits And Bakeware. Order Online Today!</p>

    <div class="container-fluid row">
        <div class="col-lg-3 home-images">
            <img src="~/images/breadIcon1.png" style="width:250px" />
        </div>
        <div class="col-lg-3 home-images">
            <img src="~/images/breadIcon2.png" style="width:250px" />
        </div>
        <div class="col-lg-3 home-images">
            <img src="~/images/breadIcon3.png" style="width:250px" />
        </div>
    </div>

    </div>
