<h2> News </h2>

<p>
    We are delighted to announce that we are partnering with Jeff Bezos in order to ship our products through Amazon Prime. This will begin Spring 2023.
</p>

<h3> Upcoming deals </h3>
<ul>
    <li> For the entire month of July 2022, products will be 50% off for all active and retired military in order to celebrate Independence day. </li>

    <li> Until the end of August 2022, all order over 50 dollar will be eligible for 2 day shipping. </li>
</ul>